{% extends 'Ecommapp/base.html' %}
{% load static %}
{% block title %}Checkout{% endblock title %}

{% block main-content %}
{% comment %} start of container {% endcomment %}
<div class="container">
  {% comment %} start of if messages statement {% endcomment %}
  {% if messages %}
   {% for msg in messages %}
    <div class="alert alert-danger" role="alert">
      {{msg}}
    </div>
   {% endfor %}
  {% endif %}
  {% comment %} end of if messages statement  {% endcomment %}
  {% comment %} start of row  {% endcomment %}
  <div class="row mt-5">
    {% comment %} start of first column {% endcomment %}
    <div class="col-sm-6">
      <h4>Order Summary</h4>
      <hr>
      {% for item in cart_items %}
       <div class="card mb-2">
        <div class="card-body">
          <h5>Product: {{item.product.title}}</h5>
          <p>Quantity: {{item.quantity}}</p>
          <p class="fw-bold">Price:{{item.product.discounted_price}}</p>
        </div>
       </div>
      {% endfor %}
      <p class="fw-bold">Total Cost + Rs.40 = {{totalamount}}</p>
      <small>Term and Condition:Vivamus ac quam tempus, efficitur lectus in, semper est. Vivamus in ipsum vel dui ultricies feugiat vel nec dolor. Aliquam a fringilla lectus.</small>
    </div>
    {% comment %} end of first column {% endcomment %}
    {% comment %} start of second column {% endcomment %}
    <div class="col-sm-4 offset-sm-1">
      <h4>Select Shipping Address</h4>
      <hr>
      <form action="" method="post" id="myForm">
        {% csrf_token %}
        {% for ad in add %}
         <div class="card">
          <div class="card-body">
            <h5>{{ad.name}}</h5>
            <p>Mobile:{{ad.mobile}}</p>
            <p>{{ad.locality}}{{ad.city}}{{ad.state}} - {{ad.zipcode}}</p>
          </div>
         </div>
          <div class="form-check mt-2 mb-5">
            <input type="radio" name="custid" id="custadd{{forloop.counter}}" value="{{ad.id}}">
            <label for="custadd{{forloop.counter}}" class="form-check-label fw-bold">Address:{{forloop.counter}}</label>
          </div>
        {% endfor %}
        <div class="form-check mb-3">
          <label for="totalamount" class="form-label">Total Amount</label>
          <input type="number" class="form-control" name="totalamount" value={{totalamount}} readonly>
        </div>
        <div class="text-end">
          <button type="submit" class="btn btn-warning mt-3 px-5 fw-bold">Continue</button>
          {% comment %} <button id="rzp-button1" type="submit" class="btn btn-warning mt-3 px-5 fw-bold">Payment</button> {% endcomment %}
        </div>
      </form>
    </div>
    {% comment %} end of second column {% endcomment %}
  </div>
  {% comment %} end of row {% endcomment %}
</div>
{% comment %} end of container {% endcomment %}
<br><br><br>
{% endblock main-content %}