{% extends 'Ecommapp/base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}

{% block main-content %}
{% comment %} start of contianer {% endcomment %}
<div class="container">
  {% comment %} start of row {% endcomment %}
  <div class="row my-3">
    <div class="col-sm-6 offset-sm-3">
      <h3 class="alert-heading">Well Done!!</h3>
      <p>An Email has been sent with instruction to reset your passeord <b>Please Chec Email</b></p>
    </div>
  </div>
  {% comment %} end of row {% endcomment %}
</div>
{% comment %} end of container {% endcomment %}
{% endblock main-content %}