{% extends 'Ecommapp/base.html' %}
{% load static %}
{% block title %}Change Password Done{% endblock title %}
{% block main-content %}
{% comment %} start of the container {% endcomment %}
<div class="container my-5">
  {% comment %} start of the row {% endcomment %}
  <div class="row">
    <h3>Welcome{{request.user.username|capfirst}}</h3>
    {% comment %} start of the column {% endcomment %}
    <div class="col-sm-2 border-end">
      <ul class="list-unstyled">
        <li class="d-grid"><a href="" class="btn btn-primary">Change Password Done</a></li>
      </ul>
    </div>
    {% comment %} end of the column {% endcomment %}
    {% comment %} start of second column {% endcomment %}
    <div class="col-sm-9 offset-sm-1">
       <h3>Password Changed Successfully!!!</h3>
       <div>
        <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
       </div>
    </div>
    {% comment %} end of second column {% endcomment %}
  </div>
  {% comment %} end of the row {% endcomment %}
</div>
{% comment %} end of the container {% endcomment %}
{% endblock main-content%}