{% extends 'Ecommapp/base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}

{% block main-content %}
{% comment %} start of contianer {% endcomment %}
<div class="container">
  {% comment %} start of row {% endcomment %}
  <div class="row my-3">
    <div class="col-sm-6 offset-sm-3">
      <h3>Reset Password Completed!!</h3>
      <hr>
      <div>
        <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
      </div>
    </div>
  </div>
  {% comment %} end of row {% endcomment %}
</div>
{% comment %} end of container {% endcomment %}
{% endblock main-content %}